.comments-box a {
	color: var(--primaryColour);
	text-decoration: underline dotted;
}

.comments-box .title {
	font-size: 20px;
	font-weight: 700;
	padding: 10px 20px;
}

.comments-box .input {
	background: var(--buttonAccentColour);
	padding: 10px;
	border: 2px solid var(--buttonBorderColour);
	border-radius: 10px;
}

.comments-box .input:hover {
	border: 2px solid var(--accentColour);
}

.comments-box .input:focus {
	background: var(--cardAccentColour);
	border: 2px solid var(--accentColour);
}

.comments-box .user-inf {
	/* 添加评论部分 用户信息输入框 */
	margin-bottom: 10px;
}

.comments-box .input-content {
	/* 添加评论部分 评论内容输入框 */
	width: calc(100% - 25px);
	margin-bottom: 10px;
}

.comments-box .has-login {
	/* 添加评论部分 已登录提示 */
	display: flex;
	padding: 0 10px;
}

.comments-box .comments.card .count {
	/* 评论列表部分 评论数量字段 */
	padding: 0px 20px 20px 20px;
}

.comment-body {
	border-bottom: 2px solid;
	margin-bottom: 20px;
	padding: 0 0 20px 10px;
}

.comment-children .comment-body {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.comment-children {
	margin: 20px 20px 0 20px;
}

.comments-box .comment-body .comment-meta {
	margin-bottom: 10px;
}

.comments-box .comment-body .content {
	margin: 0 20px;
}

.comments-box .comment-meta .comment-author .svg-icon {
	padding-right: 10px;
}

.comments-box .comment-meta .comment-author .fn, 
.comments-box .comment-meta .comment-author a {
	/* 评论列表部分 用户昵称 */
	font-size: 18px;
	font-weight: 800;
	color: var(--fontColour);
	text-decoration: none;
}

.comments-box .comment-meta .comment-author {
	display: flex;
	text-align: center;
	line-height: 35px;
}

.comments-box .content p {
	padding-bottom: 20px;
}