.article-sidebar-index h2 {
    font-size: 18px;
    padding-bottom: 10px;
}

.atalog {
    padding: 10px;
}

.tag-box {
    padding: 10px;
    border-left: var(--sidebarBorder);
}

.tag-box:hover {
    border-left: var(--sidebarBorderHover);
    padding-left: 15px;
}