.scroll-to-top {
    /* 回到顶部按钮盒子 */
    display: flex;
}

.scroll-to-top a {
    /* 回到顶部按钮主体 */
    width: 100%;
    display: flex;
}

.scroll-to-top a:hover {
    cursor: pointer;
}

.scroll-to-top a svg {
    padding: 10px;
    margin: 0 auto;
}

.scroll-to-top a svg path {
    /* 按钮图标颜色 */
    fill: var(--fontColour);
}

.scroll-to-top a:hover svg path {
    fill: var(--primaryColour);
}