.index-sidebar-box {
    background: var(--cardBackgroundColour);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shandow);
}

.index-sidebar-classify {
    /* 侧边栏分类栏 */
    padding: 10px;
}

.index-sidebar-classify h2 {
    /* 侧边栏分类标题 */
    font-size: 18px;
    padding-bottom: 10px;
}

.index-sidebar-classify-li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-left: 5px solid var(--accentColour);
    background: var(--cardBackgroundColour);
    transition: var(--transition);
}

.index-sidebar-classify-li:hover {
    border-left: 5px solid var(--primaryColour);
    padding-left: 15px;
    /* background: linear-gradient(to right, var(--primaryColourPale), var(--cardBackgroundColour)); */
    /* 这是一个废弃的方案，采用主题色过渡到卡片色作为选中强调 */
}