.sidebar {
    width: 280px;
    position: fixed;
    right: 40px;
    top: 120px;
}

.sidebar-fix {
    top: 20px;
}

@media (max-width: 1030px) {
    .sidebar {
        position: unset;
        padding-top: 20px;
    }
}