/* 文章显示样式 */

.post-content p {
    /* p 标签样式 */
    padding: 15px;
    font-size: 15px;
}

.post-content h1 {
    /* h1 样式 */
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
}

.post-content h2 {
    /* h2 样式 */
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.post-content h3 {
    /* h3 样式 */
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.post-content h4 {
    /* h4 样式 */
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.post-content h5 {
    /* h5 样式 */
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.post-content hr {
    /* 分割线样式 */
    margin: 20px auto;
    width: 40%;
}

.post-content ul {
    /* 列表样式 */
    padding: 20px 20px 20px 30px;
    list-style: disc;
}

.post-content ol {
    /* 列表样式 */
    padding: 20px 20px 20px 30px;
    list-style: disc;
}

.post-content li {
    /* 列表样式 */
    list-style: disc;
}

.post-content img {
    /* 图片样式 */
    border-radius: 10px;
}

.post-content blockquote {
    border-left: 5px solid var(--primaryColour);
    padding: 15px;
    margin: 20px;
}

.post-content pre {
    padding: 20px;
    margin: 20px;
    background: var(--cardAccentColour);
    border-radius: 10px;
}

.post-content table {
    /* 表格样式 */
    padding: 20px;
    width: 100%;
    height: auto;
}

.post-content thead th {
    /* 表格标题样式 */
    background: var(--tableTitleColour);
    padding: 10px 20px;
}

.post-content table tbody td {
    /* 表格单元格样式 */
    background: var(--tableUnitColour);
    padding: 10px 20px;
}


/* .post-content blockquote p {
    padding: 0;

} */