/* 文章显示样式 */

.article-content-div p {
    /* p 标签样式 */
    padding: 15px;
    font-size: 15px;
}

.article-content-div h1 {
    /* h1 样式 */
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
}

.article-content-div h2 {
    /* h2 样式 */
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.article-content-div h3 {
    /* h3 样式 */
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.article-content-div h4 {
    /* h4 样式 */
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.article-content-div h5 {
    /* h5 样式 */
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.article-content-div hr {
    /* 分割线样式 */
    margin: 20px auto;
    width: 40%;
}

.article-content-div ul {
    /* 列表样式 */
    padding: 20px 20px 20px 30px;
    list-style: disc;
}

.article-content-div ol {
    /* 列表样式 */
    padding: 20px 20px 20px 30px;
    list-style: disc;
}

.article-content-div li {
    /* 列表样式 */
    list-style: disc;
}

.article-content-div img {
    /* 图片样式 */
    border-radius: 10px;
}

.article-content-div blockquote {
    border-left: 5px solid var(--primaryColour);
    padding: 15px;
}

.article-content-div pre {
    padding: 20px;
    margin: 20px;
    background: var(--cardAccentColour);
    border-radius: 10px;
}


/* .article-content-div blockquote p {
    padding: 0;

} */