.shandow {
    box-shadow: var(--shandow);
}

.transition {
    transition: 0.5s;
}

.bottom-margin {
    margin-bottom: 20px;
}

.content-box {
    max-width: 750px;
    position: relative;
}

.card {
    /* 卡片基础样式 */
    background: var(--cardBackgroundColour);
    border-radius: 10px;
    box-shadow: var(--shandow);
    padding: 20px;
}

.card.button {
    /* 卡片式按钮样式 */
    border: 2px solid var(--accentColour);
    padding: 0;
}

.card.button:hover {
    /* 卡片式按钮选中样式 */
    background: var(--buttonAccentColour);
    border: 2px solid var(--buttonBorderColour);
}

.button.t1 {
    background: var(--buttonAccentColour);
    padding: 10px;
    border: 2px solid var(--buttonBorderColour);
    border-radius: 10px;
}

.button.t1:hover {
    background: var(--accentColour);
    color: var(--tableTitleColour);
    border: 2px solid var(--accentColour);
}

.button.t1:active {
    background: var(--primaryColour);
    color: var(--navbarNameFontColour);
    border: 2px solid var(--primaryColour);
    box-shadow: 0 0 10px var(--primaryColour);
    transition: none;
}

.svg-icon path {
    /* svg 图标的颜色适应 */
    fill: var(--accentColour);
}

.text.red {
    color: #fa0000af;
}