:root {
    --backgroundColour: #ececec;
    --cardBackgroundColour: #fff;
    --cardAccentColour: #ccc;
    --accentColour: #000000;
    --fontColour: #000000;
    --navbarNameFontColour: #fff;
    --primaryColour: #00A7DB;
    --primaryColourPale: #00a8db12;
    --tableTitleColour: #acacac;
    --tableUnitColour: #ccc;
    --transition: 0.5s;
    --shandow: 0 10px 10px rgba(0, 0, 0, 0.06);
    --sidebarBorder: 3px solid var(--accentColour);
    --sidebarBorderHover: 3px solid var(--primaryColour);
}

[data-theme="dark"] {
    --backgroundColour: #414141;
    --cardBackgroundColour: #353535;
    --cardAccentColour: #1c1c1c;
    --accentColour: #fff;
    --fontColour: #ffffff;
    --primaryColour: #00A7DB;
    --primaryColourPale: #00a8db12;
    --tableTitleColour: #000;
    --tableUnitColour: #1c1c1c;
    --shandow: 0 10px 10px rgba(50, 50, 50, 0.5);
}