.article-list {
    /* 文章列表 */
    max-width: 750px;
    padding-right: 300px;
}

.article-list h2 {
    font-size: 20px;
    font-weight: 800;
    padding: 10px 0;
}

.article-box {
    /* 单个文章盒子 */
    background: var(--cardBackgroundColour);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: var(--shandow);
}

.article-date {
    font-weight: 700;
    text-align: right;
}

.article-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-img-div img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.article-list-nav {
    /* 翻页导航栏主体 */
    width: 100%;
}

.page-navigator {
    /* 翻页导航栏 */
    display: flex;
    justify-content: center;
}

.page-navigator li {
    padding: 5px;
}

.page-navigator li a {
    height: 40px;
    width: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}

.page-navigator li a:hover {
    background: var(--cardBackgroundColour);
}

@media (max-width: 1030px) {
    .article-list {
        padding-right: 0;
        margin: 0 auto;
    }
}